numpy==1.23.0
opencv-python==4.6.0.66
wheel>=0.37
pyvoronoi==1.0.7
tqdm==4.64.0
networkx==2.8.4
Sphinx==5.0.2
myst-parser==0.18.0
sphinx-rtd-theme==1.0.0
linkify-it-py==2.0.0
sphinxcontrib-bibtex==2.4.2
markdown-it-py==2.1.0
pygments-lexer-pseudocode==2.0.1